// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';


*{
    box-sizing: border-box;
}


html {
  font-family: Montserrat;
}

body {
  margin: 0;
}

p {
    margin: 0;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 .4em;
    line-height: 1.3;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

